<div th:fragment="customerForm(type)">
    <form method="POST" th:action="${type == 'add' ? @{/admin/customers/add} : @{/admin/customers/update}}"
          th:object="${customerDTO}"> th:object="${customerDTO}">
        <div class="modal-body p-4">
            <input type="hidden" name="id" th:id="${type + 'CustomerId'}">

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Tên khách hàng:</label>
                <div class="col-sm-9">
                    <input type="text" name="name"
                           th:id="${type + 'CustomerName'}"
                           class="form-control form-control-sm rounded-0 shadow-none" placeholder="Nhập tên khách hàng"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Email:</label>
                <div class="col-sm-9">
                    <input type="text" name="email"
                           th:id="${type + 'CustomerEmail'}"
                           class="form-control form-control-sm rounded-0 shadow-none"
                           placeholder="Nhập email khách hàng"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Số điện thoại:</label>
                <div class="col-sm-9">
                    <input type="text" name="phone"
                           th:id="${type + 'CustomerPhone'}"
                           class="form-control form-control-sm rounded-0 shadow-none"
                           placeholder="Nhập số điện thoại khách hàng"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Địa chỉ:</label>
                <div class="col-sm-9">
                    <input type="text" name="address"
                           th:id="${type + 'CustomerAddress'}"
                           class="form-control form-control-sm rounded-0 shadow-none"
                           placeholder="Nhập địa chỉ khách hàng"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Tài khoản User:</label>
                <div class="col-sm-9">
                    <input type="text" name="userName"
                           th:id="${type + 'CustomerUsername'}"
                           class="form-control form-control-sm rounded-0 shadow-none"
                           placeholder="Gõ hoặc chọn tài khoản User (Nếu có)..."
                           list="userSuggestions">

                    <datalist id="userSuggestions">
                        <option th:each="u : ${allUsers}"
                                th:value="${u.username}"
                                th:label="${u.username + ' - ' + u.email}">
                        </option>
                    </datalist>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Trạng thái:</label>
                <div class="col-sm-9">
                    <div class="form-check form-switch mb-0">
                        <input class="form-check-input shadow-none" type="checkbox" name="active" value="true"
                               th:id="${type + 'CustomerActive'}">
                        <label class="form-check-label user-select-none fw-semibold small text-secondary"
                               th:for="${type + 'CustomerActive'}">
                            Tích chọn để kích hoạt khách hàng (Còn hoạt động)

                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer bg-light py-2 border-top-0 d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-outline-secondary btn-sm px-4 rounded-0" data-bs-dismiss="modal">Hủy
            </button>
            <button type="submit" class="btn btn-dark btn-sm px-4 rounded-0 fw-bold">Lưu thay đổi</button>
        </div>
    </form>
</div>
