<div th:fragment="userForm(type)">
    <form method="POST" th:action="@{/admin/users}" th:object="${user}" enctype="multipart/form-data">
        <div class="modal-body p-4">
            <input type="hidden" name="id" th:id="${type + 'UserId'}">
            <input type="hidden" name="avatar" th:id="${type + 'UserAvatar'}">

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Tên đăng nhập:</label>
                <div class="col-sm-9">
                    <input type="text" name="username"
                           th:id="${type + 'UserUsername'}"
                           class="form-control form-control-sm rounded-0 shadow-none" placeholder="Nhập tên đăng nhập"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Mật khẩu đăng nhập:</label>
                <div class="col-sm-9">
                    <input type="password" name="password"
                           th:id="${type + 'UserPassword'}"
                           class="form-control form-control-sm rounded-0 shadow-none"
                           placeholder="Nhập mật khẩu đăng nhập"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Email:</label>
                <div class="col-sm-9">
                    <input type="text" name="email"
                           th:id="${type + 'UserEmail'}"
                           class="form-control form-control-sm rounded-0 shadow-none"
                           placeholder="Nhập email người dùng"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Số điện thoại:</label>
                <div class="col-sm-9">
                    <input type="text" name="phone"
                           th:id="${type + 'UserPhone'}"
                           class="form-control form-control-sm rounded-0 shadow-none"
                           placeholder="Nhập số điện thoại người dùng"
                           required>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Vai trò:</label>
                <div class="col-sm-9">
                    <select name="role"
                            th:id="${type + 'UserRole'}"
                            class="form-select form-select-sm rounded-0 shadow-none"
                            required>
                        <option value="" disabled selected>-- Chọn vai trò --</option>
                        <option th:each="role : ${roleUsers}"
                                th:value="${role.name()}"
                                th:text="${role.getRole()}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-3 col-form-label text-end fw-bold small">Trạng thái:</label>
                <div class="col-sm-9">
                    <div class="form-check form-switch mb-0">
                        <input class="form-check-input shadow-none" type="checkbox" name="active" value="true"
                               th:id="${type + 'UserActive'}">

                        <label class="form-check-label user-select-none fw-semibold small text-secondary"
                               th:for="${type + 'UserActive'}">
                            Tích chọn để kích hoạt (Còn hoạt động)
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label text-end fw-bold small pt-2">Avatar:</label>
                <div class="col-sm-9">
                    <input type="file" name="file"
                           th:id="${type + 'UserFile'}"
                           class="form-control form-control-sm rounded-0 shadow-none mb-2"
                           accept="image/*"
                           th:data-prefix="${type}"
                           onchange="previewImage(this)">
                    <button type="button" th:data-id-input="|${type}UserFile|"
                            th:data-id-image="|${type}ImagePreview|" onclick="deleteImagePreview(this)">Xoá ảnh
                    </button>
                    <div class="border d-flex align-items-center justify-content-center bg-light"
                         style="width: 150px; height: 100px; overflow: hidden;">
                        <img th:id="|${type}ImagePreview|" src="#" alt="Xem trước ảnh" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer bg-light py-2 border-top-0 d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-outline-secondary btn-sm px-4 rounded-0" data-bs-dismiss="modal">Hủy
            </button>
            <button type="submit" class="btn btn-dark btn-sm px-4 rounded-0 fw-bold">Lưu thay đổi</button>
        </div>
    </form>
</div>