<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/base :: head}">
    <title>Quản lý khách hàng</title>
</head>
<body th:replace="~{layout/base :: main('customer', ~{:: #customer-content})}">

<div id="customer-content">
    <div class="table-responsive border shadow-sm">
        <table class="table table-striped table-hover mb-0 align-middle text-center">
            <thead class="table-dark">
            <tr>
                <th colspan="7">
                    <div class="d-flex align-items-center gap-2">
                        <button type="button" class="btn btn-sm btn-dark rounded-0 me-1 fw-bold"
                                data-bs-toggle="modal" data-bs-target="#addCustomerModal">
                            Thêm
                        </button>
                        <button type="button" class="btn btn-sm btn-danger rounded-0 fw-bold">
                            Xoá
                        </button>
                    </div>
                </th>
            </tr>
            <tr>
                <th style="width: 40px; vertical-align: middle;">
                    <input type="checkbox" onclick="selectAllCheckbox(this.id, 'action-select-customer')"
                           id="selectAllCustomer">
                </th>
                <th class="text-start">Tên khách hàng</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c: ${listCustomers}">
                <td style="vertical-align: middle;">
                    <input type="checkbox" class="action-select-customer" th:value="${customer.id}"
                           onclick="resetSelectAllCheckBox('selectAllCustomer', 'action-select-customer')">
                </td>
                <td hidden th:text="${c.id}"></td>
                <td class="text-start fw-bold" th:text="${c.name}"></td>
                <td th:text="${c.email}"></td>
                <td th:text="${c.phone}"></td>
                <td th:text="${c.address}"></td>
                <td>
                    <span th:if="${c.active}">Còn hoạt động</span>
                    <span th:unless="${c.active}">Không hoạt động</span>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-dark rounded-0 me-1 fw-bold"
                            th:data-id="${c.id}"
                            th:data-name="${c.name}"
                            th:data-email="${c.email}"
                            th:data-phone="${c.phone}"
                            th:data-address="${c.address}"
                            th:data-active="${c.active}"
                            onclick="openEditCustomerModal(this)">
                        Sửa
                    </button>

                    <button type="button" class="btn btn-sm btn-danger rounded-0 fw-bold">Xoá
                    </button>


                </td>
            </tr>

            <tr th:if="${#lists.isEmpty(listCustomers)}">
                <td colspan="5" class="text-muted py-4">Chưa có khách hàng nào trong hệ thống.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="~{modals/base :: genericModal(
        'addCustomerModal',
        'Thêm mới khách hàng',
        ~{modals/customer_form :: customerForm('add')}
    )}"></div>

    <div th:replace="~{modals/base :: genericModal(
        'editCustomerModal',
        'Sửa thông tin khách hàng',
        ~{modals/customer_form :: customerForm('edit')}
    )}"></div>

</div>
</body>
</html>