<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .main {
            flex: 1;
        }
    </style>
</head>
<body class="bg-white text-dark" style="font-family: Arial, sans-serif; font-size: 14px;"
      th:fragment="main(activeMenu, content)">

<header th:replace="~{layout/header :: header}"></header>
<div class="container-fluid mt-4 main">
    <div class="row">

        <nav class="col-md-2 mb-4">
            <div class="list-group rounded-0 border">
                <a th:href="@{/admin/roominventory}"
                   class="list-group-item list-group-item-action border-0 border-bottom"
                   th:classappend="${activeMenu == 'room_inventory' ? 'active bg-dark text-white' : 'text-dark bg-light'}">Kiểm
                    kê phòng</a>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'service' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/services}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'service' ? 'text-white' : 'text-dark'}">
                        Dịch vụ
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'roomType' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/room-types}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'roomType' ? 'text-white' : 'text-dark'}">
                        Loại phòng
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'room' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/rooms}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'room' ? 'text-white' : 'text-dark'}">
                        Phòng
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'bookingService' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/booking-services}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'bookingService' ? 'text-white' : 'text-dark'}">
                        Chi tiết dịch vụ
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'customer' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/customers}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'customer' ? 'text-white' : 'text-dark'}">
                        Khách hàng
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'user' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/users}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'user' ? 'text-white' : 'text-dark'}">
                        Người dùng
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'payment' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/payments}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'payment' ? 'text-white' : 'text-dark'}">
                        Thanh toán
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'booking_room' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/booking_rooms}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'booking_room' ? 'text-white' : 'text-dark'}">
                        Đơn đặt - Phòng
                    </a>
                </div>
            </div>

            <div class="list-group rounded-0 border">
                <div class="list-group-item border-0 border-bottom d-flex justify-content-between align-items-center py-2"
                     th:classappend="${activeMenu == 'booking' ? 'active bg-dark text-white' : 'text-dark bg-light'}">
                    <a th:href="@{/admin/bookings}" class="text-decoration-none flex-grow-1"
                       th:classappend="${activeMenu == 'booking' ? 'text-white' : 'text-dark'}">
                        Đơn đặt
                    </a>
                </div>
            </div>
        </nav>

        <main class="col-md-10">
            <th:block th:replace="${content}"></th:block>
        </main>

    </div>
</div>

<footer th:replace="~{layout/footer :: footer}"></footer>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>